{% extends 'base.html.twig' %}


{% block styles %}
    <link rel="stylesheet" href="{{ asset('stylesheet/user_style/article_style.css') }}">
    <link rel="stylesheet" href="{{ asset('stylesheet/user_style/comment_style.css') }}">
{% endblock %}


{% block body %}
    <div class="container">
        <div class="article">
            <div class="category mt-5"> {{ article.category.name }} </div>
            <div class="tags mt-2"> {{article.tags}} </div>
        </div>
    </div>

    <div class="container-fluid mt-4">
        <h1 class="titles">{{ article.title }}</h1>
    </div>

    <div class="container mt-3 mb-5">
        <div class="article">
            <div class="credit">Publié par <span class="user">{{article.user.username}}</span>  {{ article.created_at|date("d/m/Y") }} </div>
            <div class="image mt-5" style="width: 500px"><img class="card-img-top" src=" {{article.image}} " alt="image de l'article"></div>
            <div class="mt-5 ml-5 mr-5 content"> {{article.content|raw}} </div>
        </div>
    </div>


    <div id="conteneur">
        <ul>
            <div id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav('myNav')">&times;</a>
                <div class="overlay-content">
                    <h2>Commentaires</h2>
                    <div id = "cadre1">
                    </div>
                    <br>
                    <div id = "cadre1">
                    </div>
                    <br>
                    <div id = "cadre1">
                    </div>

                    <a href=""><button class="button">Commentaire</button></a>
                </div>
            </div>
            <div class="affichecom">
                <span style="font-size:30px;cursor:pointer" onclick="openNav('myNav')"><button class="button">Voir les commentaires</button></span>
            </div>
        </ul>
    </div>

    <div class="container">

        <h2>Ajouter un commentaire</h2>

        {{ form_start(formComment) }}

        <div class="row mt-3">
            <div class="col-8">
                {{ form_row(formComment.content, {'attr': {'class': 'form-control', 'placeholder': 'Contenu du commentaire'}, 'label': 'Votre commentaire:'}) }}
            </div>
        </div>

    </div>

    {{ form_end(formComment) }}

{%  endblock %}

{% block scripts %}
    <script src="{{ asset('script/comment_script.js') }}"></script>
{% endblock %}

