{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="titles mt-5"> {{name}} </h1>

    <div class="container">

        {% for continent in continents %}
            {% if continent.name == name %}
                <div>
                    <img class="image-continent" src="{{continent.image}}" width="500px">
                </div>
                <div class="mt-5">
                    <div>{{continent.content}}</div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

        <div class="mt-5">
            <h2 class="titles">Liste des pays</h2>
        </div>

        {% for country in countries %}
            <div class="lien mt-3">
                <a href="{{ path('articles',{slug:country.slug})}}"> <h3>{{ country.name }}</h3> </a>
            </div>
        {% endfor %}
        </div>

    </div>

{% endblock %}
