
<div id="map-continents" class="mt-5">
    <ul class="continents">
        <li class="c1"><a href="{{path('continent', {name: "Afrique"})}}">Afrique</a></li>
        <li class="c2"><a href="{{path('continent', {name: "Asie"})}}">Asie</a></li>
        <li class="c3"><a href="{{path('continent', {name: "Océanie"})}}">Océanie</a></li>
        <li class="c4"><a href="{{path('continent', {name: "Europe"})}}">Europe</a></li>
        <li class="c5"><a href="{{path('continent', {name: "Amérique du Nord"})}}">Amérique du Nord</a></li>
        <li class="c6"><a href="{{path('continent', {name: "Amérique du Sud"})}}">Amérique du Sud</a></li>
    </ul>
</div>