{% extends 'base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>Création d'un article</h1>

    {{ form_start(formArticle) }}
    {{ form_row(formArticle.title, {'attr': {'placeholder' : "Titre de l'article"}}) }}
    {{ form_row(formArticle.content, {'attr': {'placeholder' : "Contenu de l'article"}}) }}
    {{ form_row(formArticle.image, {'attr': {'placeholder' : "Inserez votre image"}}) }}
    {#{{ form_row(formArticle.created_at, {'attr': {'placeholder' : "Créer par (votre pseudo)"}}) }}#}
    {{ form_row(formArticle.tags, {'attr': {'placeholder' : "Votre tags"}}) }}
    {{ form_row(formArticle.category, {'attr': {'placeholder' : "Votre Categorie" }}) }}
    {{ form_row(formArticle.country, {'attr': {'placeholder' : "Le pays correspondant" }}) }}

    <button type="submit" class="btn btn-success">Créer l'article</button>
    {{ form_end(formArticle) }}


{% endblock %}
