{% extends 'dashboard/dashboard_base.html.twig' %}


{% block body %}

    <div class="container">

    <h2 class="titres mt-3">Création d'un article</h2>

    {{ form_start(formArticle) }}

        <div class="row mt-3">
            <div class="col-sm-8 col-md-8 col-lg-8">
                {{ form_row(formArticle.title, {'attr': {'class': 'form-control', 'placeholder' : "Titre de l'article"}, 'label': 'Titre de l\'article'}) }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-5 col-md-5 col-lg-5">
                {{ form_row(formArticle.tags, {'attr': {'class': 'form-control', 'placeholder' : "Vos tags"}, 'label': 'Tags'}) }}
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                {{ form_row(formArticle.category, {'attr': {'class': 'form-control'}, 'label': 'Choisir la catégorie'}) }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-4 col-md-4 col-lg-4">
                {{ form_row(formArticle.country, {'attr': {'class': 'form-control'}, 'label': 'Choisir le pays'}) }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-8 col-md-8 col-lg-8">
                {{ form_row(formArticle.content, {'attr': {'class': 'form-control', 'placeholder': 'Contenu de l\'article'},  'label': 'Contenu de l\'article'}) }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-8 col-md-8 col-lg-8">
                {{ form_row(formArticle.image, {'attr': {'class': 'form-control-file', 'placeholder' : ' Inserez votre image'}, 'label_attr': {'class': 'mr-3'}, 'label': 'Image de l\'article'})
                }}
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-sm-8 col-md-8 col-lg-8"> <button type="submit" class="btn btn-info btn-block">Créer l'article</button></div>
        </div>

    {{ form_end(formArticle) }}

    </div>
{% endblock %}
