{% extends 'dashboard/dashboard_base.html.twig' %}

{% block body %}

    <h1 class="upc">Liste des articles</h1>

    <table class="table container mt-5">
        <thead>
        <tr>
            <th>Pays</th>
            <th>Titre</th>
            <th>Categorie</th>
            <th>Tags</th>
            <th>Créé le</th>
            <th>Modifier</th>
        </tr>
        </thead>



        <tbody>

            {% for article in app.user.articles %}

            <tr>
                <td>{{ article.country.name }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.category.name }}</td>
                <td>{{ article.tags }}</td>
                <td>{{ article.createdAt | date("d-m-Y") }}</td>
                <td><a href="{{ path('update_article', {id: article.id}) }}" id="lien"><img src="{{asset("medias/images/edit.svg")}}" height="20px" alt="Icone modifier"></a></td>
            </tr>

        {% endfor %}

        </tbody>

    </table>

{% endblock %}